[submodule ".registry"]
	path = .registry
	url = https://github.com/chlobeau/chlobeau.r-universe.dev
	branch = HEAD
[submodule "taigatools"]
	path = taigatools
	url = https://github.com/chlobeau/taigatools
